a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:200;display:none; padding:7px 2px;
    margin-top:-25px; margin-left:30px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:0px solid #DCA; background:#dd1111;}
.callout {z-index:20;position:absolute;top:50px;border:0;left:-10px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:0px;
    box-shadow: 5px 5px 8px #CCC;
}

/*PURPLE*/
a.tooltippur {outline:none; }
a.tooltippur strong {line-height:30px;}
a.tooltippur:hover {text-decoration:none;} 
a.tooltippur span {
    z-index:200;display:none; padding:7px 2px;
    margin-top:-25px; margin-left:30px;
    width:300px; line-height:16px;
}
a.tooltippur:hover span{
    display:inline; position:absolute; color:#111;
    border:0px solid #DCA; background:#7611dd;}
.callout {z-index:20;position:absolute;top:22px;border:0;left:-10px;}
    
/*CSS3 extras*/
a.tooltippur span
{
    border-radius:0px;
    box-shadow: 5px 5px 8px #CCC;
}


/*Fuscia*/
a.tooltipfus {outline:none; }
a.tooltipfus strong {line-height:30px;}
a.tooltipfus:hover {text-decoration:none;} 
a.tooltipfus span {
    z-index:200;display:none; padding:7px 2px;
    margin-top:-25px; margin-left:20px;
    width:300px; line-height:16px;
}
a.tooltipfus:hover span{
    display:inline; position:absolute; color:#111;
    border:0px solid #DCA; background:#dd119c;}
.callout {z-index:20;position:absolute;top:22px;border:0;left:-10px;}
    
/*CSS3 extras*/
a.tooltipfus span
{
    border-radius:0px;
    box-shadow: 5px 5px 8px #CCC;
}


/*GREEN*/
a.tooltipgre {outline:none; }
a.tooltipgre strong {line-height:30px;}
a.tooltipgre:hover {text-decoration:none;} 
a.tooltipgre span {
    z-index:200;display:none; padding:7px 2px;
    margin-top:-25px; margin-left:20px;
    width:300px; line-height:16px;
}
a.tooltipgre:hover span{
    display:inline; position:absolute; color:#111;
    border:0px solid #DCA; background:#68dd11;}
.callout {z-index:20;position:absolute;top:22px;border:0;left:-10px;}
    
/*CSS3 extras*/
a.tooltipgre span
{
    border-radius:0px;
    box-shadow: 5px 5px 8px #CCC;
}


/*ORANGE*/
a.tooltiporg {outline:none; }
a.tooltiporg strong {line-height:30px;}
a.tooltiporg:hover {text-decoration:none;} 
a.tooltiporg span {
    z-index:200;display:none; padding:7px 2px;
    margin-top:-25px; margin-left:20px;
    width:300px; line-height:16px;
}
a.tooltiporg:hover span{
    display:inline; position:absolute; color:#111;
    border:0px solid #DCA; background:#dd7611;}
.callout {z-index:20;position:absolute;top:22px;border:0;left:-10px;}
    
/*CSS3 extras*/
a.tooltiporg span
{
    border-radius:0px;
    box-shadow: 5px 5px 8px #CCC;
}



/*BLUE*/

a.tooltipblu {outline:none; }
a.tooltipblu strong {line-height:30px;}
a.tooltipblu:hover {text-decoration:none;} 
a.tooltipblu span {
    z-index:200;display:none; padding:7px 2px;
    margin-top:-25px; margin-left:20px;
    width:300px; line-height:16px;
}
a.tooltipblu:hover span{
    display:inline; position:absolute; color:#111;
    border:0px solid #DCA; background:#11d6dd;}
.callout {z-index:20;position:absolute;top:22px;border:0;left:-10px;}
    
/*CSS3 extras*/
a.tooltipblu span
{
    border-radius:0px;
    box-shadow: 5px 5px 8px #CCC;
}

/*dolce*/

a.tooltipdol {outline:none; }
a.tooltipdol strong {line-height:30px;}
a.tooltipdol:hover {text-decoration:none;} 
a.tooltipdol span {
    z-index:200;display:none; padding:7px 2px;
    margin-top:-25px; margin-left:20px;
    width:300px; line-height:16px;
}
a.tooltipdol:hover span{
    display:inline; position:absolute; color:#111;
    border:0px solid #DCA; background:#3E6480;}
.callout {z-index:20;position:absolute;top:22px;border:0;left:-10px;}
    
/*CSS3 extras*/
a.tooltipdol span
{
    border-radius:0px;
    box-shadow: 5px 5px 8px #CCC;
}
